html {
  font-size: 62.5%;
}

:root {
  --mainbgcolor: #212125;
  --maincolor: #a3de83;
  --subcolor: #f7f39a;
  --engtitlefont: 'Open Sans', sans-serif;
  --engsubfont: 'Roboto', sans-serif;
  --main-768px-h-tag: clamp(2.5rem, 3.255vw, 3.5rem);

  /* section2 */
  --section2-768px-text: clamp(5rem, 6.51vw, 8rem);

  /* section3 */
  --two-depth-768px-strong: clamp(2rem, 2.083vw, 3rem);
  --two-depth-768px-ptie: clamp(1.6rem, 2.083vw, 2.5rem);

  @media (max-width: 768px) {
    --main-768px-h-tag: clamp(2rem, 4.167vw, 2.5rem);
  }

  @media (max-width: 550px) {
    --section2-768px-text: clamp(3rem, 5.455vw, 5rem);
  }
}
body {
  cursor: url('/img/mouse.svg'), auto;
  font-size: 1.6rem;
  font-family: 'Pretendard-Regular';
  letter-spacing: 3px;
  width: 100%;
  height: 100%;
}

::-webkit-scrollbar {
  width: 0;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: transparent;
}

/* common */
.wrap {
  width: 100%;
  height: 100%;
  position: relative;
}

.section {
  height: 100vh;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  transition: top 0.5s ease, left 0.5s ease;
  transition-delay: 2ms;
}

.section1 {
  background-color: var(--mainbgcolor);
  color: #fff;
  z-index: 3;
}

.section2 {
  left: 100%;
  background-color: #fff;
  z-index: 2;
}

.section3 {
  height: 100vh;
  overflow: auto;
  top: 120%;
  background-color: var(--mainbgcolor);
  color: #fff;
  z-index: 1;
}
.section3-1,
.section3-2 {
  width: 95%;
  margin: 0 auto;
}

.mouse-icon {
  width: 2px;
  padding: 4px 12px;
  height: 32px;
  border: 2px solid #fcfdfe;
  border-radius: 12px;
  opacity: 0.5;
  box-sizing: content-box;
  position: absolute;
  bottom: 40px;
  left: 50%;
}

.mouse-wheel {
  transform: translateY(-20px);
  display: inline-block;
  height: 15px;
  background-color: #fff;
  width: 2px;
  animation: scroll 2s cubic-bezier(0.15, 0.41, 0.69, 0.94) infinite;
  margin-top: 15px;
}

@keyframes scroll {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: translateY(-9px);
    opacity: 0;
  }
}

/* 콘텐츠 시작 */

.section1_inner,
.section2_inner {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.section1_inner {
  flex-direction: column;
}

.section1_inner > h1 {
  font-size: var(--main-768px-h-tag);
  margin-top: 50px;
}

.traffic-light-box {
  position: relative;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  max-width: 1200px;
  max-height: 351px;
}
.traffic-light-box > .border {
  border: 2px solid #ccc;
  display: block;
  border-radius: 50px;
}
.outline {
  width: 100%;
  height: 100%;
}
.inline {
  position: absolute;
  width: 95%;
  height: 89%;
  top: 20px;
  left: 29px;
}
.traffic-light {
  display: flex;
  justify-content: space-around;
  position: relative;
}

.traffic-light > .shape {
  position: absolute;
  bottom: 60px;
}
.traffic-light > .circle {
  left: 150px;
}
.traffic-light > .cloud {
  animation-delay: 10s;
}
.traffic-light > .moon {
  right: 150px;
  animation-delay: 20s;
}

/* section2 */

.section2 {
  display: flex;
  justify-content: center;
}

.section2_inner {
  font-size: var(--section2-768px-text);
}
.section2_inner > h2 {
  display: flex;
}

.word {
  margin: 0 5px;
  opacity: 0;
  transform: translateY(70px) scale(7);
}

.section2-active .word {
  animation: section2_text 1s ease forwards;
}

@keyframes section2_text {
  to {
    opacity: 1;
    transform: translateY(0) scale(1);
  }
}
/* section3 */
.section3-1 {
  height: 100%;
  position: relative;
  display: flex;
  align-items: center;
}

.section3-2 {
  height: fit-content;
  position: relative;
}

/* section3-1 */
.section3-1::before {
  content: '';
  position: absolute;
  background-image: url(/img/section3-1_bg.svg);
  background-repeat: no-repeat;
  background-size: 50% auto;
  width: 100%;
  background-attachment: fixed;
  height: 100%;
  background-position: center;
}
.section3-1-contents {
  height: 78%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.section3-1-contents > .traffic-light-text {
  font-size: clamp(1.6rem, 2.083vw, 2.5rem);
  margin-bottom: 4rem;
}

/* section3-2 1depth*/

.section3-2_inner {
  width: 90%;
  margin: 0 auto;
  position: relative;
}
.one-depth {
  padding-top: 25px;
  margin-bottom: 30px;
}

.one-depth > h2 {
  font-size: var(--main-768px-h-tag);
}
.one-depth > h2 > strong {
  color: var(--maincolor);
  font-weight: 600;
}

/* 2depth */

.section3-2 .info > strong,
.section3-2 .info > p > b,
.education-career_inner .education-contents > strong,
.education-career_inner .education-contents > p > b,
.career-contents > strong,
.career-contents > p > b {
  font-family: var(--engsubfont);
}

.section3-2 .info > strong,
.education-career_inner .education-contents > strong,
.career-contents > strong {
  font-size: var(--two-depth-768px-strong);
  color: var(--subcolor);
  font-weight: 600;
  margin: 20px 0 20px 0;
  display: inline-block;
}

.p-tie {
  font-size: var(--two-depth-768px-ptie);
  text-indent: 2rem;
}

/* 3depth */
.three-depth .skill > strong {
  color: var(--subcolor);
  font-weight: 600;
  margin: 20px 0 20px 0;
  display: inline-block;
}

.three-depth .skill {
  font-size: var(--two-depth-768px-strong);
}

.skill_inner {
  margin-bottom: 20px;
  opacity: 0;
  transition: 0.5s ease-in-out;
}
.skill_inner.active {
  opacity: 1;
}

.skill_inner > li {
  display: flex;
  margin-bottom: 25px;
}

.skill_inner > li .skill-text-graph-box > span {
  display: inline-block;
  margin-bottom: 10px;
}

.skill-text-graph-box {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 500px;
  padding-left: 20px;
}
/* skill img size */
.section3-2-1 .three-depth .skill .skill_inner > li .skill-img-box > img {
  width: 100%;
  max-width: 35px;
}

/* skill 스킬그래프 공통 */
.progress {
  border: 1px solid #ffffff;
  padding: 5px;
  border-radius: 8px;
}
.progress-level {
  height: 10px;
  background: linear-gradient(to right, var(--maincolor), var(--subcolor));
  border-radius: 8px;
}

/* html */
.progress-level.html {
  animation: html 2s ease-in-out both;
}

@keyframes html {
  0% {
    width: 0;
  }
  100% {
    width: 88%;
  }
}

/* css */
.progress-level.css {
  animation: css 2s ease-in-out both;
  animation-delay: 0.3s;
}
@keyframes css {
  0% {
    width: 0;
  }
  100% {
    width: 88%;
  }
}

/* js_jq */
.progress-level.js_jq {
  animation: js_jq 2s ease-in-out both;
  animation-delay: 0.6s;
}
@keyframes js_jq {
  0% {
    width: 0;
  }
  100% {
    width: 70%;
  }
}

/* php */
.progress-level.php {
  animation: php 2s ease-in-out both;
  animation-delay: 0.6s;
}
@keyframes php {
  0% {
    width: 0;
  }
  100% {
    width: 55%;
  }
}

/* ps */
.progress-level.photoshop {
  animation: photoshop 2s ease-in-out both;
  animation-delay: 0.9s;
}

@keyframes photoshop {
  0% {
    width: 0;
  }
  100% {
    width: 73%;
  }
}

/* il */
.progress-level.illustrator {
  animation: illustrator 2s ease-in-out both;
  animation-delay: 1.2s;
}
@keyframes illustrator {
  0% {
    width: 0;
  }
  100% {
    width: 73%;
  }
}

/* figma */

.progress-level.figma {
  animation: figma 2s ease-in-out both;
  animation-delay: 1.5s;
}
@keyframes figma {
  0% {
    width: 0;
  }
  100% {
    width: 73%;
  }
}

/* 4depth */
.fourth-depth {
  display: flex;
  flex-direction: column;
  position: relative;
  height: 40vh;
}
.fourth-depth .portfolio-wire-frame-box {
  display: flex;
  flex-direction: column;
}

.fourth-depth > strong,
.portfolio-wire-frame-box > strong {
  color: var(--subcolor);
  font-weight: 600;
  margin: 20px 0 20px 0;
  display: inline-block;
  font-size: var(--two-depth-768px-strong);
}
.etc_inner {
  display: flex;
  justify-content: flex-start;
  padding-bottom: 40px;
}

.etc_inner > li {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  font-size: var(--two-depth-768px-ptie);
  text-align: center;
}

.etc_inner > li:nth-child(2) {
  margin: 0 40px;
}
.etc_inner > li:nth-child(3) {
  margin-right: 40px;
}

@media (max-width: 400px) {
  .etc_inner > li:nth-child(2) {
    margin: 0 20px;
  }
  .etc_inner > li:nth-child(3) {
    margin-right: 20px;
  }
}

.etc_inner > li:nth-child(2) > img {
  margin-bottom: 3px;
}

.etc_inner > li:nth-child(3) > img,
.etc_inner > li:nth-child(4) > img {
  margin-bottom: 5px;
}
/* profile img */
.profile-img-box .profile-img {
  width: 100%;
  max-width: 400px;
  position: absolute;
  bottom: 5px;
  right: 100px;
  transition: 0.7s ease-in-out;
  opacity: 0;
}
.profile-img.active {
  opacity: 1;
}

/* etc img size */
.section3-2 .fourth-depth .etc_inner > li > img {
  width: 100%;
  max-width: 50px;
}

.portfolio-wire-frame-box > span {
  display: inline-block;
  width: 100%;
  max-width: 110px;
  margin-right: unset;
}

/* skill img size */
.section3-2 .three-depth .skill .skill_inner > li .skill-img-box > img {
  width: 35px;
  max-width: 100%;
}

/* section3-3 */
.section3-3 {
  width: 95%;
  margin: 120px auto auto auto;
  height: 100%;
}

.project-container {
  position: relative;
}

.project-container__inner {
  height: 100vh;
  width: 90%;
  margin: 0 auto;
}

.mock-up-box {
  overflow: hidden;
}

.mock-up-box > img {
  max-width: 100%;
  width: 600px;
}
.mock-up-box > img.dakistore-img {
  width: 450px;
}
.mock-up-box > img.jimssa-img {
  width: 350px;
}

.project-contents {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: inherit;
}

.project-title {
  display: flex;
  flex-direction: column;
  margin-left: 1rem;
}

.project-title > h3 {
  font-size: var(--main-768px-h-tag);
  font-weight: 600;
  margin-bottom: 3rem;
}
.project-title > p {
  font-size: 2rem;
  color: #ddd;
  margin-bottom: 3rem;
  font-weight: 500;
}
.hash-tag-box {
  margin-bottom: 4rem;
}
.hash-tag {
  display: flex;
  flex-wrap: wrap;
}
.hash-tag > li {
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 30px;
  margin: 10px;
  color: var(--subcolor);
  font-size: 2rem;
}

.project-complete {
  padding: 10px 24px;
  background-color: var(--maincolor);
  color: #333;
  border-radius: 3rem;
  font-weight: 600;
  font-size: 2.5rem;
  margin-left: 1rem;
}

.mongze-img-box {
  position: relative;
}

.mongze-page-img {
  max-width: 100%;
  border-radius: 5px;
  background-size: 100%;
  width: 150px;
  background-repeat: no-repeat;
  position: absolute;
  margin-top: 20px;
}

.mongze-page1-img {
  top: 17.5%;
  left: 40%;
  height: 100%;
}

.mongze-page2-img {
  left: 13.5%;
}

.mongze-page3-img {
  right: 13.5%;
}

.mongze-page2-img,
.mongze-page3-img {
  top: 17%;
  height: 283px;
}

.mongze-page1-img {
  background-image: url(/img/mongze_mo_intro.svg);
}

.mongze-page2-img {
  background-image: url(/img/mongze_project1.png);
  transition: background-position 4s;
}

.mongze-page3-img {
  background-image: url(/img/mongze_project2.png);
  transition: background-position 4s;
}

.publishing-contents-btn-box {
  width: 100%;
  max-width: 400px;
}

.re_btn_pc,
.publishing_content_btn > a {
  padding: 10px;
  text-align: center;
  border: 1px solid #ddd;
  transition: 0.5s;
  box-sizing: border-box;
  margin-right: 15px;
  font-family: var(--engsubfont);
  cursor: pointer;
  font-size: 1.3rem;
  color: #fff;
}

.publishing_content_btn > a:not(.t-m, .re_btn_pc) {
  margin-right: unset;
}

/* Project Img Ani */
.project-img {
  opacity: 0;
}
.project-img.active.dakistore-img {
  animation: dakisotre 0.7s ease-in-out both;
}

.project-img.active.remon-app-img {
  animation: remon_app 0.7s ease-in-out both;
}

.project-img.active.remon-intro-page {
  animation: remon_intro_page 0.7s ease-in-out both;
}

.project-img.active.jimssa-img {
  animation: jimssa 0.7s ease-in-out both;
}

.project-img.active.hdc-img {
  animation: hdc 1.3s ease-in-out both;
}

.project-img.active.bn-survey-img {
  animation: bn_survey 1.3s ease-in-out both;
}

@keyframes dakisotre {
  0% {
    transform: translateY(-100%);
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    transform: translateY(0%);
    opacity: 1;
  }
}

@keyframes remon_app {
  0% {
    transform: translateX(100%);
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    transform: translateX(0%);
    opacity: 1;
  }
}

@keyframes remon_intro_page {
  0% {
    transform: translateY(100%);
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    transform: translateY(0%);
    opacity: 1;
  }
}

@keyframes jimssa {
  0% {
    transform: translateX(-100%);
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    transform: translateX(0%);
    opacity: 1;
  }
}

@keyframes hdc {
  0% {
    transform: scale(0);
    animation-timing-function: ease-in;
    opacity: 0;
  }
  38% {
    transform: scale(1);
    animation-timing-function: ease-out;
  }
  55% {
    transform: scale(0.7);
    animation-timing-function: ease-in;
  }
  72% {
    transform: scale(1);
    animation-timing-function: ease-out;
  }
  81% {
    transform: scale(0.84);
    animation-timing-function: ease-in;
  }
  89% {
    transform: scale(1);
    animation-timing-function: ease-out;
  }
  95% {
    transform: scale(0.95);
    animation-timing-function: ease-in;
  }
  100% {
    transform: scale(1);
    animation-timing-function: ease-out;
    opacity: 1;
  }
}

@keyframes bn_survey {
  0% {
    transform: scaleX(0);
    opacity: 0;
  }
  100% {
    transform: scaleX(1);
    opacity: 1;
  }
}
